:host {
    $borderColor: #DDE0E6;
    display: flex;
    width: 100%;
    height: 100%;
    flex-flow: column;
    border-radius: 3px;
    background-color: #fff;
    overflow: hidden;
    user-select: none;

    div.header {
        display: flex;
        align-items: center;
        height: 34px;
        padding: 0 5px;

        p.title {
            flex: 1;
            font-size: 14px;
            font-weight: 800;
            margin-left: 12px;
            color: #555C71;
        }
    }

    div.content {
        flex: 1;
        border-top: 1px solid $borderColor;
    }

    .hidden {
        display: none !important;
    }
}