@import '../activity.scss';

:host {
    @include Activity;

    div.content {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        font-size: 16px;
        font-weight: 500;
        color: #555C71;
    }
}