:host {
    display: flex;
    flex-flow: column;
    width: 100%;
    height: 100%;

    div.content {
        flex: 1;
        display: flex;
        padding: 12px;

        .activity {
            flex: 0 0 120px;
            height: 80px;

            &.startup {
                $s: 60px;
                flex: 0 0 80px;
                height: $s;
            }
        }
    }
}